<!doctype html>
<html lang="en" class="">
    <head>
        <title>Integrated Presidential Dashboard Mockup - Pulselab Jakarta</title>

        <meta charset="utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <meta name="description" content=">Integrated Presidential Dashboard Mockup - Pulselab Jakarta" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />

        <link rel="icon" type="image/x-icon" href="pulselab.ico">
        <link rel="shortcut icon" type="image/x-icon" href="pulselab.ico">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"> -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-dropdown/2.0.3/jquery.dropdown.min.css">

		<link rel="stylesheet" href="css/main.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.0/locale/id.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.12.2/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.2/topojson.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-queue/3.0.7/d3-queue.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dropdown/2.0.3/jquery.dropdown.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-endless-scroll/1.8.0/js/jquery.endless-scroll.min.js"></script>

		<script src="statics.js"></script>
		<script src="helper.js"></script>
		<script src="fetcher.js"></script>
		<script src="connector.js"></script>

		<script src="categories.js"></script>
		<script src="map.js"></script>
		<script src="main.js"></script>
    </head>
    <body class="">
        <div id="root">
			<div id="selection">
				<div id="selection-wrapper" class="cursor-default">
					<img src="images/garuda.png">
					<div id="title-wrapper" class="uppercase">Integrated Presidential Dashboard</div>
					<div id="categories-wrapper" class="float-left"></div>
				</div>
			</div>
			<div id="content-wrapper">
				<div id="header">
					<div id="filters-selection">
						<div id="filters-head">
							<img src="images/garuda.png">
							<div id="head-title" class="uppercase cursor-default">Integrated Presidential Dashboard</div>
						</div>
						<div id="filters-location" class="filters-down uppercase cursor-pointer" data-jq-dropdown="#dropdown-location">
							<label>Lokasi</label>
							<div class="filters-selected">
								<div class="filters-value">Nasional</div>
								<i class="fa fa-caret-down" aria-hidden="true"></i>
							</div>
						</div>
						<div id="filters-kementerian" class="filters-down uppercase cursor-pointer" data-jq-dropdown="#dropdown-kementerian">
							<label>Kementerian</label>
							<div class="filters-selected">
								<div class="filters-value">Semua Kementerian</div>
								<i class="fa fa-caret-down" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<div id="categories-selection">
						<div id="categories-head">
							<span class="uppercase cursor-default"></span>
							<!-- <div id="categories-hamburger" class="x-sign cursor-pointer hidden"><span></span><span></span><span></span></div> -->
							<i class="fa fa-home cursor-pointer" aria-hidden="true"></i>
							<i class="fa fa-times cursor-pointer hidden" aria-hidden="true"></i>
						</div>
						<div id="categories-left-arrow" class="arrows cursor-pointer nonactive"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
						<div id="categories-content"></div>
						<div id="categories-right-arrow" class="arrows cursor-pointer"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
					</div>
				</div>
				<div id="content">
					<div id="prov-overview" class="hidden cursor-default">
						<div id="prov-name" class="uppercase"></div>
						<div id="prov-anggaran" class="prov-detil"><label>Total Budget</label><span></span></div>
						<div id="prov-output" class="prov-detil"><label>Jumlah Proyek</label><span></span></div>
						<div id="prov-kementerian" class="prov-detil"><label>Jumlah K/L</label><span></span></div>
					</div>
				</div>
				<div id="detil-content">
					<div id="detil-header">
						<div id="backtomap" class="float-left cursor-pointer">
							<i class="fa fa-caret-left" aria-hidden="true"></i> Kembali ke peta
						</div>
						<div id="search-wrapper" class="float-right">
							<label for="detil-search"><i class="fa fa-search" aria-hidden="true"></i></label>
							<input id="detil-search" type="text" value="" placeholder="Cari output">
						</div>
					</div>
					<div id="detil-wrapper">
						<table>
							<thead>
								<tr class="cursor-default">
									<th class="table-kegiatan">Kegiatan</th>
									<th class="table-output">Output</th>
									<th class="table-kl">Kementerian / Lembaga</th>
									<th class="table-anggaran">Anggaran</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div id="dropdown-location" class="jq-dropdown jq-dropdown-tip jq-dropdown-anchor-left"><ul class="jq-dropdown-menu cursor-pointer"><li id="drop-prov-default" class='uppercase cursor-pointer' onclick="changeDrop('location', null, 'Nasional')">Nasional</li></ul></div>
		<div id="dropdown-kementerian" class="jq-dropdown jq-dropdown-tip jq-dropdown-anchor-left"><ul class="jq-dropdown-menu cursor-pointer"><li id="drop-kl-default" class='uppercase cursor-pointer' onclick="changeDrop('kementerian', null, 'Semua Kementerian')">Semua Kementerian</li></ul></div>
    </body>
</html>
