@font-face {
    font-family: "SF Regular";
    src: url("/font/System San Francisco Display Regular.ttf");
}
@font-face {
    font-family: "SF Bold";
    src: url("/font/System San Francisco Display Bold.ttf");
}

$def-font-stack : "SF Regular";
$default-back	: #2d2d2d;
$base-color		: white;

$header-height	: 30vh;
$content-back	: #38383a;

$red-color		: #d3232a;
