@import "header";

#content-wrapper {
	width: 100%; height: 100%; background: $content-back;
	#content, #detil-content {
		 overflow: hidden; display: inline-block; float: left;
	}
	#content {
		height: calc(100% - #{$header-height}); width: 100%; position: relative; @include transition(width .75s ease-in-out);
		#prov-overview {
			min-width: calc(#{$header-height} - 60px); padding: 15px; position: absolute; background: #38383a; margin: 15px; border-radius: 3px;
			& > div:not(:last-child) { margin-bottom: 8px; }
			#prov-name { font-size: 11px; font-family: 'SF Bold'; }
			.prov-detil label { display: block; font-size: 9px; margin-bottom: 2px; }
		}
	}
	#detil-content {
		height: calc(100% - #{$header-height} - 30px); width: 0%; visibility: hidden; @include transition-delay(.75s); padding: 15px;
		#detil-header {
			@include clearfix();
			#search-wrapper {
				position: relative; width: 20%; border: 1px solid; border-radius: 3px;
				label { position: absolute; font-size: 10px; top: 6px; right: 4px; cursor: text; }
				input { font-size: 10px; background: transparent; width: calc(100% - 20px); height: 15px; border: none; color: white; padding: 5px 10px; @include placeholder { color: white; }}
			}
			#backtomap { padding: 0px 15px; border: 1px solid; border-radius: 3px; line-height: 25px; }
		}
		#detil-wrapper {
			width: 100%; margin-top: 10px;
			table {
				width: 100%; border-collapse: collapse;
				thead, tbody {
					display: block; width: 100%; @include clearfix();
					tr {
						float: left; width: 100%;
						th, td {
							float: left; display: inline-block; padding: 15px 1%;
							&.table-kegiatan { width: 28%; }
							&.table-output { width: 28%; }
							&.table-kl { width: 28%; }
							&.table-anggaran { width: 8%; }
						}
					}
				}
				thead {
					text-align: left; border-color: white; border-top: 1px solid; border-bottom: 1px solid; text-transform: uppercase;
				}
				tbody {
					overflow-y: auto; overflow-x: hidden;
					tr:nth-child(odd) { background: rgba(black, .2); }
					tr.selected { background: none; }
				}
			}
			&.forced-height {
				height: calc(100% - 27px - 10px);
				table {
					height: 100%;
					tbody { height: calc(100% - 40px); }
				}
			}
		}
		#progress-wrapper {
			width: 100%;
			#difference-wrapper {
				width: 100%;
				& > div {
					width: calc(94% / 3); display: inline-block; float: left; padding: 1%;
					label { display: block; text-transform: uppercase; color: lightgrey; font-size: 8px; }
					span { font-size: 11px; }
				}
			}
		}
	}
	&.shrink {
		#content { width: 35%; }
		#detil-content { width: calc(65% - 30px); visibility: visible; }
	}
}

.jq-dropdown > div { border: none; @include clearfix(); }
.jq-dropdown {
	div.jq-dropdown-panel, ul.jq-dropdown-menu { background: #eee; border: none; }
	&::before, &::after { border-bottom-color: #eee!important; }
}

#dropdown-location, #dropdown-kementerian {
	color: black;
	ul {
		max-height: 350px; overflow: auto;
		li {
			padding: 2px 20px; &:hover { background: rgba(black, .2); color: white; }
		}
	}
}
