#header {
	height: $header-height;
	& > div { float: left; display: inline-block; }
	#filters-selection {
		background: $default-back; width: calc(#{$header-height} - 60px); height: calc(#{$header-height} - 60px); padding: 30px; overflow: hidden;
		#filters-head {
			@include clearfix();
			img { width: 28%; margin-right: 7%; display: inline-block; float: left; }
			#head-title { width: 65%; display: inline-block; float: right; font-size: 13px; line-height: 16px; letter-spacing: 2px; }
		}
		.filters-down {
			margin-top: 15px;
			label { color: lightgrey; font-size: 8px; }
			.filters-selected {
				padding: 2.5px; font-size: 11px; border-bottom: 1px solid lightgrey; margin-top: 2.5px; position: relative;
				i { position: absolute; right: 5px; color: lightgrey; }
				.filters-value { display: inline-block; @include ellipsis(95%); }
			}
			&:hover {
				label { color: white; }
				.filters-selected { border-color: white; i { color: white; }}
			}
		}
	}
	#categories-selection {
		background: #3e3e40; width: calc(100% - #{$header-height}); height: 100%;
		& > div { display: inline-block; float: left; }

		$head-height	: 4vh;
		$arrow-width	: 2.5%;
		#categories-head {
			line-height: $head-height; background: $red-color; width: 100%; position: relative; letter-spacing: 2px;  
			span#categories-title { margin-left: $arrow-width; }
			i { position: absolute; font-size: 20px; right: 10px; top: 4px; }
			i.fa-times { z-index: 100; }
			// #categories-hamburger {
			// 	z-index: 100; width: 1.75%; height: $head-height * 2 / 4; position: absolute; margin: #{$head-height / 4} 0; @include transform(rotate(0deg)); @include transition(.5s ease-in-out); top: 0px; right: 1%;
			// 	span {
			// 		display: block; @include transform(rotate(0deg)); @include transition(.25s ease-in-out);
			// 		position: absolute; height: calc(100% / 6); width: 100%; background: white; border-radius: 9px; opacity: 1; left: 0;
			// 		&:nth-child(1) { top: 0px; }
			// 		&:nth-child(2) { top: calc(100% / 6 * 2.5); }
			// 		&:nth-child(3) { top: calc(100% / 6 * 5); }
			// 	}
			// 	&.x-sign {
			// 		span:nth-child(1) { top: calc(100% / 6 * 2.5); @include transform(rotate(135deg)); }
			// 		span:nth-child(2) { opacity: 0; left: -100%; }
			// 		span:nth-child(3) { top: calc(100% / 6 * 2.5); @include transform(rotate(-135deg)); }
			// 	}
			// }
		}
		.arrows {
			height: calc(100% - #{$head-height}); line-height: #{$header-height - $head-height}; width: $arrow-width; text-align: center; background: rgba($default-back, .75);
			&.nonactive { color: lightslategrey; cursor: not-allowed!important; background: rgba($default-back, .125); }
		}
		#categories-content {
			height: calc(100% - #{$head-height}); width: calc(100% - #{$arrow-width * 2}); overflow: hidden;
		}
	}
}
